.appform {
	background-color: white;
}

.appform p {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: #737373;
}

.appform table {
	margin-top: 10px;
	border-top: 1px solid #b3b3b3;
}

.appform table tr {
	margin-top: 40px;
}

.appform table tr td {
	width: 500px;
	padding-top: 30px;
}

.appform label {
	padding-left: 5px;
	font-family: 'Open Sans', sans-serif;
	color: #737373;
	font-size: 12px;
	font-weight: normal;
}

.appform label span {
	vertical-align: sub;
	padding-left: 2px; 
	color: #ff4000;
}

.appform input {
	border: 1px solid #cccccc;
	height: 50px;
	width: 100%;
	padding-left: 10px;
}

.appform input[type="submit"] {
	margin-top: 30px;
	width: 100%;
	height: 40px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	background-color: #7094db;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 15px;
}

.appform input[type="submit"]:hover {
	color: white;
	font-weight: bold;
}

.appform input::placeholder {
	color: #b3b3cc;
	font-family: 'Julius Sans One', sans-serif;
}

.appform a {
	margin-top: 30px;
	color: white;
}

.appform a:link {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	background-color: #7094db;
	padding: 8px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}

.appform a:hover {
	color: white;
	font-weight: bold;
}