.header {
	height: 50px;
	width: 100%;
	margin-bottom: 0;
}

.title {
	margin-top: 5px;
	padding-left: 5px;
	float: left;
}

.title a {
	color: #2eb8b8;
}

.title a:link {
	text-decoration: none;
	font-family: 'Galada', cursive;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.content {
	margin-top: 0;
	float: left;
	width: 100%;
	padding-bottom: 100px;
}

.signupform {
	margin-left: 35%;
	margin-top: 10%;
}

.signupform table tr td {
	width: 400px;
}

.signupform input {
	border: 1px solid #cccccc;
	height: 50px;
	width: 100%;
	margin-top: 30px;
	padding-left: 10px;
}

.signupform input::placeholder {
	color: #b3b3cc;
	font-family: 'Julius Sans One', sans-serif;
}

.signupform a {
	margin-top: 30px;
	color: white;
}

.signupform a:link {
	width: 100%;
	text-decoration: none;
	font-family: 'Julius Sans One', sans-serif;
	background-color: #2eb8b8;
	padding: 20px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.signupform input[type="submit"] {
	border: none;
	height: 50px;
	width: 100%;
	margin-top: 30px;
	padding-left: 10px;
	background-color: #2eb8b8;
	font-family: 'Julius Sans One', sans-serif;
	color: white;
}

.error {
	color: #ff0000;
	font-style: italic;
	margin-left: 20px;
	margin-top: 30px;
}

body {
	background-image: url("images/grey.jpg");
	background-size: cover;
}